<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/layout.html :: veryTop"></head>
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:inline="javascript" >
function button(){
	 var list = /*[[${dates1}]]*/ [];
	 console.log(typeof list);
	 console.log(list);
	 console.log(typeof dates)
	 console.log(dates)
}

var list = /*[[${dates1}]]*/ [];
//var dates = ["20/01/2021", "21/01/2021", "22/01/2021", "23/01/2021"] ;
function DisableDates(date) {
    var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
    return [list.indexOf(string) !== -1];
}

$(function() {
   $("#date").datepicker({
       changeYear: true,
       changeMonth:true,
       dateFormat: 'mm/dd/yy',
       minDate: new Date('01/01/1900'),
       maxDate: '+1Y',
       beforeShowDay: DisableDates
   });
});
</script>
<title>Insert title here</title>
</head>


<body>
<div th:replace="layout/layout.html :: menu" ></div>
<h3>select your date and see attraction/hotel Status </h3>


<form action="" th:object="${cartitem}" th:action="@{/cart/add/}+${productId}" method="POST" class="product-item">
  <table class="table py-5" cellspacing="10px" cellpadding="10px">
	<tr><th colspan="4" class="text-center">select a date</th></tr>
	<tr><td th:text ="${discount}">id</td></tr>
	<tr>
		<td class="td_left"><label for="startDate">Start date</label></td>
		<td class="td_right"><input type="text" id="date" th:field="*{startDate}"></td>
	</tr>
	<tr>
		<td class="td_left">Price </td>
		<td>
		  <input type="hidden" th:value="${price}" name="price">
  			<div class="total-price"  th:text="${price}"th:value ="${price}"></div>
		</td>
	</tr>
	<tr>
		<td>Quantity</td>
		<td>  
			<select name="quantity" class="product-select" tabindex="1">
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			    <option value="4">4</option>
			    <option value="5">5</option>
			    <option value="6">6</option>
			    <option value="7">7</option>
			    <option value="8">8</option>
			    <option value="9">9</option>
			 </select>
		</td>
	</tr>
	<tr>
		<td><input type="submit" value="add to cart" /></td>
	</tr>
  </table>
</form>  


<div th:replace="layout/layout.html :: footer"></div>
<!-- <div th:replace="layout/layout.html :: javascript"></div> -->


</body>
</body>
</html>

<script>
  jQuery('.product-select').on('change', function () {
    var el = $(this);
    var quantity = parseInt(el.val());
    var price = parseInt(el.closest('.product-item').find('[name="price"]').val());
    el.closest('.product-item').find('.total-price').text(quantity * price);
  });
</script>

