<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/layout.html :: veryTop"></head>
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:inline="javascript" >
function button(){
	 var list = /*[[${dates1}]]*/ [];
	 console.log(typeof list);
	 console.log(list);
	 console.log(typeof dates)
	 console.log(dates)
}

var list = /*[[${dates1}]]*/ [];
var dates = ["20/01/2021", "21/01/2021", "22/01/2021", "23/01/2021"] ;
function DisableDates(date) {
    var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
    return [list.indexOf(string) !== -1];
}

$(function() {
   $("#date").datepicker({
       changeYear: true,
       changeMonth:true,
       dateFormat: 'mm/dd/yy',
       minDate: new Date('01/01/1900'),
       maxDate: '+1Y',
       beforeShowDay: DisableDates
   });
});
</script>
<title>Insert title here</title>
</head>

<style type="text/css">
td{
	text-align:center;
	vertical-align:middle;
	height:50px;
}


body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: -40px;
  background-color: white;
 
}

.available{
	 margin-top: -50px;
  max-width: 700px;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
</style>

<body>
<div th:replace="layout/layout.html :: menu" ></div>
	<br/>
<h3 class="text-center"><b>Select Date And View Availability</b></h3>
	<br/>


<form action="" th:object="${cartitem}" th:action="@{/cart/add/}+${productId}" method="POST" class="product-item">
  <table align="center"  class="available"  style="width: 100%;margin:auto">
	<tr th:each="discountItem:${discountList}"><td th:text ="${discountItem}" colspan="4" style="color: black ">id</td></tr>
	<tr>
		<td class="td_left" style="color: black "><label for="startDate">Start date</label></td>
		<td class="td_right"><input type="text" id="date" th:field="*{startDate}"></td>
	</tr>
	<tr>
		<td class="td_left" style="color: black ">Price (S$)</td>
		<td style="color: black ">
		  <input type="hidden"  th:value="${price}" name="price">
  			<div class="total-price"  th:text="${price}"th:value ="${price}"></div>
		</td>
	</tr>
	<tr>
		<td style="color: black ">Quantity</td>
		<td>  
			<select  class= "form-control" style="width: 100px; margin-left:150px " name="quantity" id="product-select" tabindex="1">
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			    <option value="4">4</option>
			    <option value="5">5</option>
			    <option value="6">6</option>
			    <option value="7">7</option>
			    <option value="8">8</option>
			    <option value="9">9</option>
			 </select>
		</td>
	</tr>
	<tr>
		<td colspan="4"><input type="submit"  class="btn btn-outline-info" value="Add To Cart"/></td>
	</tr>
  </table>
</form>  


<div th:replace="layout/layout.html :: footer"></div>
<!-- <div th:replace="layout/layout.html :: javascript"></div> -->


</body>
</body>
</html>

<script>
  jQuery('#product-select').on('change', function () {
    var el = $(this);
    var quantity = parseInt(el.val());
    var price = parseInt(el.closest('.product-item').find('[name="price"]').val());
    el.closest('.product-item').find('.total-price').text(quantity * price);
  });
</script>

