<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Booking Detail</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<div class = "container py-3">
		<div class = "row">
			<h4 align="center" >Booking Details</h4>
		</div>
		<div th:each="detail:${bookingDetails}" class="py-3 row">
			<div class="card" style="width: 50rem; height: 18rem;">
				<div th:if="${detail.key.product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).HOTEL}">
				  <h5 class="card-header" th:text = "${detail.key.product.roomType.hotel.name} + ': ' + ${detail.key.product.roomType.roomType} + ' Room'">Hotel</h5>
				  <div class="card-body">
					<table class="table">
						<tr>
							<td style="width:30%">Number of rooms:</td>
							<td th:text="${detail.value.numRooms}">Total</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Price (S$): </td>
							<td th:text="${detail.key.price}">Total</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="width:25%">From: </td>
							<td th:text="${detail.value.startDate}" style="width:15%">startD</td>
							<td style="width:10%">To: </td>
							<td th:text="${detail.value.endDate}" style="width:15%">endD</td>
						</tr>
						<tr>
							<td>Special Request: </td>
							<td th:text="${detail.value.remarks}">Request</td>
							<td></td>
							<td></td>
						</tr>	
					</table>
				 </div>
				</div>
				<div th:if="${detail.key.product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).ATTRACTION}">
				  <h5 class="card-header" th:text = "${detail.key.product.attraction.name}">Attraction</h5>
				  <div class="card-body">
					<table class="table">
						<tr>
							<td>Quantity: </td>
							<td th:text="${detail.value.quantity}">Quantity</td>
						</tr>					
						<tr>
							<td style="width:15%">Price (S$): </td>
							<td th:text="${detail.key.price}" style="width:25%">Total</td>
						</tr>
						<tr>
							<td>Date: </td>
							<td th:text="${detail.value.date}">Date</td>
						</tr>
					</table>
				 </div>
				</div>
				
		  	</div>
		</div>
	</div>	
<!-- 	<div class = "container">
		<div class = "row">
			<h3>Booking Details</h3>
		</div>
		<div th:each="detail:${bookingDetails}" class="py-3">
			<table th:if="${detail.key.product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).HOTEL}" class="table">
	 			<tr ><td th:text = "${detail.key.product.roomType.hotel.name} + ': ' + ${detail.key.product.roomType.roomType} + ' Room'" colspan="3">Hotel</td></tr> 
				<tr>
					<td>Number of rooms: </td>
					<td th:text="${detail.value.numRooms}">Total</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Total price: </td>
					<td th:text="${detail.key.price}">Total</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td style="width:25%">From: </td>
					<td th:text="${detail.value.startDate}" style="width:15%">startD</td>
					<td style="width:10%">To: </td>
					<td th:text="${detail.value.endDate}" style="width:15%">endD</td>
				</tr>
				<tr>
					<td>Special Request: </td>
					<td th:text="${detail.value.remarks}">Request</td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table th:if="${detail.key.product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).ATTRACTION}" class="table">
	 			<tr><td th:text = "${detail.key.product.attraction.name}" colspan="2">Attraction</td></tr> 
				<tr>
					<td style="width:15%">Price: </td>
					<td th:text="${detail.key.price}" style="width:25%">Total</td>
				</tr>
				<tr>
					<td>Quantity: </td>
					<td th:text="${detail.value.quantity}">Total</td>
				</tr>
				<tr>
					<td>Date: </td>
					<td th:text="${detail.value.date}">Date</td>
				</tr>
			</table>		
		</div>
	</div> -->
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
