<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Booking Detail</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<div class = "container">
		<div class = "row">
			<h3>Booking Details</h3>
		</div>
		<div th:each="detail:${bookingDetails}" class="py-3">
			<table th:if="${detail.key.product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).HOTEL}">
	 			<tr ><td th:text = "${detail.key.product.roomType.hotel.name} + ': ' + ${detail.key.product.roomType.roomType} + ' Room'">Hotel</td></tr> 
				<tr>
					<td>Number of rooms: </td>
					<td th:text="${detail.value.numRooms}">Total</td>
				</tr>
				<tr>
					<td>Total price: </td>
					<td th:text="${detail.key.price}">Total</td>
				</tr>
				<tr>
					<td>From: </td>
					<td th:text="${detail.value.startDate}">Total</td>
					<td>To: </td>
					<td th:text="${detail.value.endDate}">Total</td>
				</tr>
				<tr>
					<td>Special Request: </td>
					<td th:text="${detail.value.remarks}">Request</td>
				</tr>
			</table>
			<table th:if="${detail.key.product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).ATTRACTION}">
	 			<tr><td th:text = ${detail.key.product.attraction.name}>Attraction</td></tr> 
				<tr>
					<td>Price: </td>
					<td th:text="${detail.key.price}">Total</td>
				</tr>
				<tr>
					<td>Quantity: </td>
					<td th:text="${detail.value.quantity}">Total</td>
				</tr>
				<tr>
					<td>Date: </td>
					<td th:text="${detail.value.date}">Date</td>
				</tr>
			</table>		
		</div>
	</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
