<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Booking List</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<div class = "container py-3">
		<div style="text-align:center">
			<h4>Booking History</h4>
		</div>
		<div th:each="booking:${BookingsList}" class="py-3 row">
			<div class="card" style="width: 100rem; height: 18rem;">
			  <h5 class="card-header" th:text="'Booking Date: ' + ${booking.getBookingDate()}">Featured</h5>
			  <div class="card-body">
				<table class="table">
					<tr>
						<td style="width:30%">Amount Paid (S$)</td>
						<td th:text=${booking.getTotalPrice()} style="width:30%; text-align: center">Total</td>
					</tr>
					<tr>
						<td>Travel Package Discount (%)</td>
						<td th:text=${booking.getTravelPackageDiscount()} style="text-align: center">Total</td>
					</tr>
					<tr>
						<td>Number of Transactions</td>
						<td th:text=${booking.getNumTransactions()} style="text-align: center">Total</td>
					</tr>
				</table>
				<div style="text-align:center">
			    	<a class="btn btn-outline-info" href="BookingDetail.html" th:href="@{/booking/}+${booking.getId()}" role="button">View Details</a>
			  	</div>

			  </div>
			</div>
		</div>
	</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
