<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Booking List</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<div class = "container">
		<div class = "row">
			<h3>Booking History</h3>
		</div>
		<div th:each="booking:${BookingsList}" class="py-3 row">
			<table class="table">
				<tr><td th:text=${booking.getBookingDate()}>Date</td></tr>
				<tr>
					<td style="width:30%">Amount Paid</td>
					<td th:text=${booking.getTotalPrice()} style="width:30%">Total</td>
				</tr>
				<tr>
					<td>Travel Package Discount (%)</td>
					<td th:text=${booking.getTravelPackageDiscount()}>Total</td>
				</tr>
				<tr>
					<td>Number of Transactions</td>
					<td th:text=${booking.getNumTransactions()}>Total</td>
				</tr>
				<tr><td><a class="btn btn-primary" href="BookingDetail.html" th:href="@{/booking/}+${booking.getId()}" role="button">View Details</a></td></tr>
			</table>
		</div>
	</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
