<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Cart</title>
</head>
<head th:insert="layout/layout.html :: veryTop"></head>

<script th:inline="javascript" >
	

	function minusNum() {
		var x = document.getElementById("qty").value;
		x = Number(x);
		if (x >= 2) { x = x - 1; } 
		document.getElementById("qty").value = x;
	}
	
	
	function addNum() {
		var x = document.getElementById("qty").value;
		x = Number(x);
		if (x >= 1) { x = x + 1; } 
		document.getElementById("qty").value = x;
		
		snedtocontrollerwithAJAX(x);
	}
	
	$(function(){
		$.ajax({
			type : "POST",
			url : "http://localhost:8080/cart/test", 
			dataType : 'json',
			//contentType: "application/json",
	        success : function snedtocontrollerwithAJAX(input) {
					// make a JSONstring
					// send to controller 
        	}
		})
	});
	
	$(function(){
		$.ajax({
			type : "GET",
			url : "http://localhost:8080/cart/test", 
			dataType : 'json',
			//contentType: "application/json",
	        success : function(data) {
	       
	        console.log(data);
	        $('#cart_quantity').html(data.total);

	        
	        	/* $('#cart_total').html(data.total);
	             $('#result').html("");
	            $('#cart_total').html("$ " + sum); */
	        }
		})
	});
	</script>

<body>
<div th:replace="layout/layout.html :: menu" ></div>

	<h3>Cart</h3>

	<table align="center" cellpadding="3" cellspacing="5" style="width: 90%;margin:auto">
		<tr>
			<th>Product ID</th>
			<th>Number Of Guests</th>
			<th>Start Date</th>		
			<th>End Date</th>
			<th>Remarks</th>
			<th> </th>	
			<th>Quantity</th>
			<!-- <th>Product ID</th> -->
 
		</tr>
		
		<tr th:each="cartitem:${carts}">
			<td th:text="${cartitem.id}">1</td>
			<td th:text="${cartitem.numGuests}">single</td>
			<td th:text="${cartitem.startDate}">2</td>			
			<td th:text="${cartitem.endDate}" >default end date</td>
<!-- 			<td th:if="${cartitem.endDate} eq null" >default end date</td> -->
			<td th:text="${cartitem.remarks}" >default remarks<td>
<!-- 			<td th:if="${cartitem.remarks} ne null"  th:text="${cartitem.remarks}" >default remarks<td>
			<td th:if="${cartitem.remarks} eq null" >default remarks</td> -->
			<!-- <td th:text="${cartitem.product.id}">2</td> -->	
			<td class="count">
                <input class="reduce" id="jia1" value="-" type="button" onClick ="minusNum()">
                <input style="width: 30%;" type="number" id="qty" th:field="${cartitem.quantity}" value="3">
                <input class="add" id="jia2" value="+" type="button" onClick ="addNum()">
            </td> 
			<td><a th:href="@{/cart/delete/}+${cartitem.id}">Delete</a></td>
		</tr>
	</table>
	
	
</body>
</html>