
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Login</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<form action="" th:object="${room}" th:action="@{/hotel/saveRoom}" method="post">	
		<table class="table">
			<tr>
				<td>Hotel:</td>
				<td>
					<select name="id" id="id" th:field="*{Hotel}">
                    	<option th:each="hotel : ${Hotels}" th:value="${hotel.id}" th:text="${hotel.name}"></option>
                    </select>
				</td>
			</tr>
			<tr>
				<td>
					<input type="hidden" th:field="*{id}">
				</td>				
			</tr>
			<tr>
				<td>Type</td>
				<td><input type="text" th:field="*{roomType}">
				<p th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}"></p></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td><input type="text" th:field="*{description}">
				<!-- <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p></td> -->
			</tr>
			<tr>
				<td>ImageURL:</td>
				<td><input type="text" th:field="*{imageURL}"></td>
			</tr>
			<tr>
				<td  ><button type="submit">Save</button></td>
			</tr>
			
		</table>

	</form>
<div th:replace="layout/layout.html :: footer"></div>
<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>

