<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Discount Form</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.min.css">
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<br/>
	<h3>Set Discount for <span th:text="${name}"></span></h3><br/>
	<form action="#" th:object="${discount}" th:action="@{/discount/save}" method="get" id="form">
	<div id="datepicker-container">
		<table  class="table table-borderless">
			<tr>
				<td>
					<input type="hidden" th:field="*{id}">
				</td>				
			</tr>
			<tr>			
				<td><label th:text="${name}"></label></td>
				<td th:if="${not #lists.isEmpty(hotel)}" >
					<!-- <span th:if="${#lists.size(hotel) == 1} ">
						<span th:each="hotel : ${hotel}">
							<span th:text="${hotel.name}" th:field="${hotel}"> Name </span>
						</span>
					</span> -->
					<!-- <span th:unless="${#lists.size(hotel) == 1} "> -->
						<select class="form-control" name="id" id="id" th:field="*{hotel}">
                    		<option th:each="hotel : ${hotel}" th:value="${hotel.id}" th:text="${hotel.name}"></option>
                    	</select>
					<!-- </span>	 -->				
			    </td>
			    <td th:if="${not #lists.isEmpty(attraction)}">
			    	<!-- <div th:if="${#lists.size(attraction) == 1} ">
						<span th:each="attraction : ${attraction}">
							<span th:text="${attraction.name}"> Name </span>
						</span>
					</div> -->
			    	<!-- <div th:unless="${#lists.size(attraction) == 1} "> -->
						<select class="form-control" name="id" id="id" th:field="*{attraction}">
	                    	<option th:each="attraction : ${attraction}" th:value="${attraction.id}" th:text="${attraction.name}"></option>
	                    </select>
                    <!-- </div> -->
                    
			    </td>
			</tr>
			<tr>
			
				<td>Date</td>
				<td><input class="form-control" type="date" th:text="*{from_date}" th:value="*{from_date}" name="from_date" id="from_date" th:field="*{from_date}"></td>
				<td><input class="form-control" type="date" name="to_date" id="to_date" th:field="*{to_date}"></td>
			
			</tr>
			<tr>
				<td>Discount</td>
				<td ><input class="form-control" th:field="*{discount_rate}" type="text"></td>
			</tr>
			<tr>
				<td colspan="3"><button class="btn btn-primary" type="submit">Apply</button></td>
			</tr>
		</table>
		</div>
	</form>
<div th:replace="layout/layout.html :: footer"></div>
<div th:replace="layout/layout.html :: javascript"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<!-- <script  type="text/javascript" th:inline="javascript">
(function($) {
	// initialise datepickers
	var opts = {
		format: 'yyyy-MM-dd',
		container: '#datepicker-container',
		clearBtn: true,
		autoclose: true
	};
	// first datepicker
	$('#from_date').datepicker(opts);
	// second datepickers allows plain text
	opts.forceParse = false;
	$('#to_date').datepicker(opts);
	// add event listeners to datepickers
	$('#from_date').on('changeDate', function(selected) {
		// see if the second picker has a date selected
		var toDate = $('#to_date').datepicker('getDate');
		console.log(toDate);
		if (toDate) {
			// if it is before the first date, set to the value of the first date
			if (selected.date.valueOf() > toDate.valueOf()) {
				$('#to_date').datepicker('setDate', selected.date);
			}
		}
		// sets the start date on the second picker
		$('#to_date').datepicker('setStartDate', selected.date);
	});
	$('#from_date').on('clearDate', function() {
		$('#to_date').datepicker('clearDates');
	});
})(jQuery);
</script> -->
</html>

        