<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head><title>Discount List</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<br/>
	<h3>Discount Listing</h3>
	   

	<form th:action="@{/discount/list}">
	<table  class="table table-sm" style="background-color:white">
		<tr>
			<!-- <th hidden>ID</th> -->
			<th>Name</th>
			<th>Discount Rate (%)</th>
			<th>From Date</th>
			<th>To Date</th>
			<th>Edit Link</th>
			<th>Delete Link</th>			
		</tr>
		<tr th:each="discount:${discounts}">
			<!-- <td th:text="${discount.id}">ID</td> -->
			<td th:if="${discount.hotel !=null}" th:text="${discount.hotel.name}">ID</td>
			<td th:if="${discount.attraction !=null}" th:text="${discount.attraction.name}">ID</td>
			<td th:text="${discount.discount_rate}">ID</td>
			<td th:text="${discount.from_date}">ID</td>
			<td th:text="${discount.to_date}">ID</td>			
			<td><a href="EditProduct.html" th:href="@{/discount/edit/}+${discount.id}">Edit</a></td>
			<td><a href="EditProduct.html" th:href="@{/discount/delete/}+${discount.id}">Delete</a></td>
		</tr>
	</table>
	</form>
	<a href="hotel-form.html" th:href="@{/discount/create}" >create new</a>
<div th:replace="layout/layout.html :: footer"></div>
<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>