<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update Attraction</title>
</head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu"></div>
	<br />
	<h3>Update Attraction Details</h3>
	<form action="#" th:object="${attraction}" th:action="@{/attraction/save}"
		method="post">
		<table>

			<tr>
				<td>Attraction Name</td>
				<td><input type="text" th:field="*{name}"></td>
			</tr>

			<tr>
				<td>Price</td>
				<td><input type="text" th:field="*{price}"></td>
			</tr>

			<tr>
				<td>Address</td>
				<td><input type="text" th:field="*{location}">
			</tr>

			<tr>
				<td>Country</td>
				<td><input type="text" th:field="*{country_city}"></td>
			</tr>

			<tr>
				<td>Description</td>
				<td><input type="text" th:field="*{description}"></td>
			</tr>
			
			<tr>
				<td>Latitude</td>
				<td><input type="text" th:field="*{lat}"></td>
			</tr>
			
			<tr>
				<td>Longitude</td>
				<td><input type="text" th:field="*{longi}"></td>
			</tr>
			
			<tr>
				<td>Rating</td>
				<td><input type="text" th:field="*{rating}"></td>
			</tr>
			
			<tr>
				<td>Image URL</td>
				<td><input type="text" th:field="*{imageURL}"></td>
			</tr>

			<tr>
				<td>API URL</td>
				<td><input type="text" th:field="*{API_URL}"></td>
			</tr>

			<tr>
				<td><input type="hidden" th:field="*{id}" th:value="*{id}">
				<input type="hidden" th:field="*{product}" th:value="*{product}">
				<input type="hidden" th:field="*{user}" th:value="*{user}"></td>
				<td colspan="3"><button class="btn btn-primary" type="submit">Save</button></td>
			</tr>
		</table>
	</form>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>

