<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Update Hotel Details</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu"></div>
	<br />
	<h3>Update Hotel Details</h3>
	
	<form action="" th:action="@{/hotel/save}" th:object="${hotel}" method="post" class="form-horizontal">
		<table>
			<tr>
				<td>Hotel Name</td>
				<td><input type="text" th:field="*{name}"></td>
			</tr>

			<tr>
				<td>Address:</td>
				<td><input type="text" th:field="*{location}">
			</tr>
			<tr>
				<td>Rating:</td>
				<td><input type="text" th:field="*{rating}"></td>
			</tr>
			<tr>
				<td>Latitude:</td>
				<td><input type="text" th:field="*{lat}"></td>
			</tr>
			<tr>
				<td>Longitude:</td>
				<td><input type="text" th:field="*{longi}"></td>
			</tr>
			<tr>
				<td>Number of restaurants:</td>
				<td><input type="text" th:field="*{numberOfRestaurants}"></td>
			</tr>

			<tr>
				<td>Country and city:</td>
				<td><input type="text" th:field="*{country_City}"></td>
			</tr>
			
			<tr>
				<td>Image URL:</td>
				<td><input type="text" th:field="*{imageURL}"></td>
			</tr>

			<tr>
				<td>Amenities</td>
				<td><input type="text" th:field="*{emenities}"></td>
			</tr>

			<tr>
				<td>Description</td>
				<td><input type="text" th:field="*{description}"></td>
			</tr>
			<tr>
				<td>API URL</td>
				<td><input type="text" th:field="*{API_URL}"></td>
			</tr>

			<tr>
				<td><input type="hidden" th:field="*{user}" th:value="*{user}"></td>
				<td><input type="hidden" th:field="*{id}" th:value="*{id}"></td>
				<td colspan="3"><button class="btn btn-primary" type="submit">Save</button></td>
			</tr>
		</table>
	</form>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>

