<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>User</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<br/>
<div class = "container">
	<div class = "row">
		<h3 th:if="${path.equals('/user/save')}">Edit User</h3>
		<h3 th:if="${path.equals('/user/update')}">Change Password</h3>
		<h3 th:if="${path.equals('/user/validate')}">Add User</h3>
	</div>
	<form action="" th:object="${userForm}" th:action="${path}" method="POST" class="form-horizontal">
      	<table class="table">
			<tr>
				<td>RoleType:</td>
				<td th:if="${path.equals('/user/save') OR path.equals('/user/validate')}">
					<select th:field="*{role}">
						<option th:each="role : ${roleType}" th:value = "${role}" th:text="${role}"></option>
					</select>
				</td>
				<td th:if="${path.equals('/user/update')}">
					<input type="text" th:field="*{role}" th:value="*{role}" readonly>
				</td>
				<td><div th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div></td>
			</tr>
			<tr>
				<td>Username:</td>
				<td th:if="${path.equals('/user/save') OR path.equals('/user/validate')}"><input type="text" th:field="*{userName}" value="*{userName}"></td>
				<td th:if="${path.equals('/user/update')}">
					<input type="text" th:field="*{userName}" th:value="*{userName}" readonly>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" th:field="*{password}" placeholder="Password"></td>
				<td><div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input type="password" th:field="*{confPassword}" placeholder="Password"></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3"><input type="submit" value="Save" /></td>
				<input type="hidden" th:field="*{id}" th:value="*{id}">
			</tr>
		</table>
	</form>
</div>
<div th:replace="layout/layout.html :: footer"></div>
<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
