<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Forgot Password</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<br/>
<div class = "container">

		<h3>Forgot Password</h3>

	<form th:action="@{/forgot_password}" method="POST" class="form-horizontal">
      	<table class="table">				
			
			<tr>				
				<td>
				<div>We will be sending a reset password link to your email.</div>
				<input type="email" name="email" placeholder="Enter your e-mail" required autofocus></td>
			</tr>			
			<tr>
				<td colspan="3"><button type="submit" value="Send" class="btn btn-primary">Send</button>  
			</tr>			
		</table>
	</form>
</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
