<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head><title>Forgot Password</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<br/>

 <div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x" style="color:black"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>We will be sending a reset password link to your email.</p>
                  <div class="panel-body">
                  	<div th:if="${error!=null}">
						<p class = "text-danger">[[${error}]]</p>
					</div>
				
					<div th:if="${message!=null}">
						<p class="text-warning">[[${message}]]</p>
					</div>
    
                    <form id="register-form" role="form" autocomplete="off" th:action="@{/forgot_password}" method="POST" class="form-horizontal">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>

<!-- <div class = "container">

		<h3>Forgot Password</h3>
		
		<div th:if="${error!=null}">
			<p class = "text-danger">[[${error}]]</p>
		</div>
		
		<div th:if="${message!=null}">
			<p class="text-warning">[[${message}]]</p>
		</div>

	<form th:action="@{/forgot_password}" method="POST" class="form-horizontal">
      	<table class="table">				
			
			<tr>				
				<td>
				<div>We will be sending a reset password link to your email.</div>
				<input type="email" name="email" placeholder="Enter your e-mail" required autofocus></td>
			</tr>			
			<tr>
				<td colspan="3"><button type="submit" value="Send" class="btn btn-primary">Send</button>  
			</tr>			
		</table>
	</form>
</div> -->
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style>
body {
	    color: #fff;
		background-color: #e6e6e6;
		font-family: 'Roboto', sans-serif;
	}
</style>
</html>
