<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/layout.html :: veryTop"></head>
<head>
<title>Hotel Available Dates</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script th:inline="javascript" >

var list = /*[[${dates1}]]*/ [];

function DisableDates(date) {
    var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
    return [list.indexOf(string) !== -1];
}

var startdate;
var firstdate;
var lastdate;
$(function() {
   $("#startdate").datepicker({
       changeYear: true,
       changeMonth:true,
       dateFormat: 'mm/dd/yy',
       minDate: new Date('01/01/1900'),
       maxDate: '+1Y',
       beforeShowDay: DisableDates,
	   onSelect: function(dateText, inst) { 
		      var dateAsString = dateText; //the first parameter of this function
		      startdate = $(this).datepicker( 'getDate' ); //the getDate method
		      firstdate = startdate.getFullYear()+ "-0"+ (startdate.getMonth()+1) + "-" + startdate.getDate() ;
		      console.log(firstdate);
		      console.log(startdate.getTime());
		   }
   });
});

var enddate;
var difference_in_day
$(function() {
	   $("#enddate").datepicker({
	       changeYear: true,
	       changeMonth:true,
	       dateFormat: 'mm/dd/yy',
	       minDate: new Date('01/01/1900'),
	       maxDate: '+1Y',
	       beforeShowDay: DisableDates,
		   onSelect: function(dateText, inst) { 
			      var dateAsString = dateText; //the first parameter of this function
			      enddate = $(this).datepicker( 'getDate' ); //the getDate method
			      lastdate = enddate.getFullYear()+ "-0"+ (enddate.getMonth()+1) + "-" + enddate.getDate() ;
			      console.log(lastdate);
			      console.log(enddate);
			      var difference_in_time = enddate.getTime() - startdate.getTime();
			      difference_in_day = difference_in_time / (1000 * 3600 * 24);
			      console.log(difference_in_day);
			      submitdayViaAjax()
			      
			   }
	   });
	});

// {
//     "date" : "2021-01-30",
//     "roomType" : "single"

// }
function submitdayViaAjax(){
	
	var date = {};
	
	date["startDate"] = firstdate;
	date["endDate"] = lastdate;
	date["roomType"] = /*[[${RoomType}]]*/ "";
	//console.log(date);
	var api_url = /*[[${APIURL}]]*/'';
	
    $.ajax({
        type : "POST",
        contentType : "application/json",
        //get API URL from database
        url : api_url,
        data : JSON.stringify(date),
        dataType : 'json',
        timeout : 100000,
        success : function(data) {
        	var sum = 0;
            console.log("SUCCESS: ", data);
            for([key,val] of Object.entries(data)){
            	//console.log(val);
            	for([key1,val1] of Object.entries(val)){
            		//console.log(val1);
            		for([key2,val2] of Object.entries(val1)){
            			if(key2 == "dailyPrice"){
            				console.log(val2);
            				sum += val2;
            			}
            		}
            	}
            }
            console.log(sum);
            $('#result').html("");
            $('#result').html("$ " + sum);
        },
        error : function(e) {
            console.log("ERROR: ", e);
        },
        done : function(e) {
            console.log("DONE");
        }
    });

}


</script>
</head>
<body>

<div th:replace="layout/layout.html :: menu" ></div>
<h3>select your date and see attraction/hotel Status </h3>


<form action="" th:action="@{/stock/report}" method="POST" class="form-horizontal">

  <table class="table py-5" cellspacing="10px" cellpadding="10px">
	<tr><th colspan="4" class="text-center">select a date</th></tr>
	<tr th:text ="${discount}">id</tr>
	<tr>
		<td class="td_left"><label for="startDate">Start Date :</label></td>
		<td class="td_right"><input type="text" id="startdate"></td>
		
		<td class = "td_left"> End Date</td>
		<td class="td_right"><input type="text" id="enddate" onselect = "datediff()"></td>
	</tr>
	<tr>
	<td class="td_left"><label for="totalPrice">Total Price :</label></td>
	<td> <div id="result"></div></td>
	
	</tr>

<!-- 		<td>duration</td> -->
<!-- 		<td><select name =""> -->
<!-- 		    <option th:each="i : ${#numbers.sequence(0, 10)}" th:value="${i}" th:text="${i}"  -->
<!--       th:selected="${i==75}"></option> -->
<!--       </select></td> -->
<!-- 	</tr> -->
	
	
	<tr>
		<td><input type="submit" value="add to cart" /></td>
	</tr>
  </table>
</form>  



	<div th:replace="layout/layout.html :: footer"></div>
<!-- 	<div th:replace="layout/layout.html :: javascript"></div> -->

</body>
</html>
