<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Hotel</title>
<style>
a {
	padding-left: 2px;
	padding-right: 2px;
}

li {
	padding-left: 2px;
	padding-right: 2px;
}

span {
	padding-left: 2px;
	padding-right: 2px;
}

nav {
	padding-left: 2px;
	padding-right: 2px;
}
</style>
</head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>

	<h3>Hotel List</h3><br/>
	<table class="table table-bordered" style="margin: 0 auto; padding: 1px; background-color: white">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Rating</th>
			<th>Number of Restaurants</th>
			<th>Country</th>
			<th>Amenities</th>
			<th>Description</th>
			<th>Address</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	
		<tr th:each="hotel:${hotelMap}" >
			<td th:text="${hotel.key.id}">ID</td>
			<td th:text="${hotel.key.name}">ID</td>	
			<td th:text="${hotel.key.lat}">ID</td>
			<td th:text="${hotel.key.longi}">ID</td>
			<td th:text="${hotel.key.rating}">ID</td>	
			<td th:text="${hotel.key.numberOfRestaurants}">ID</td>
			<td th:text="${hotel.key.country_City}">ID</td>
			<td th:text="${hotel.key.emenities}">ID</td>	
			<td th:text="${hotel.key.description}">ID</td>
			<td th:text="${hotel.key.location}">Location</td>
			<td ><a href="hotel-form.html" th:href="@{/hotel/hotel/edit/}+${hotel.key.id}" >Edit</a></td>
			<td ><a href="hotel-form.html" th:href="@{/hotel/hotel/delete/}+${hotel.key.id}" >Delete</a></td>
			<!-- 			<td ><a href="Map.html" th:href="@{/hotel/map/}+${hotel.key.id}" >location</a></td> -->
		</tr>
	</table>
	<a href="hotel-form.html" th:href="@{/hotel/hotel/create/}" >create</a>
	<a href="hotel-form.html" th:href="@{/hotel/roomtypes/create/}" >create Rooms</a>

	<div class = "container py-3">
		<div class = "row">
			<h4 align="center" >Room Type List</h4>
		</div>
		<div th:each="detail:${hotelMap}" class="py-3 row">
			<div class="card">
			  <h5 class="card-header" th:text = "${detail.key.name}" style="font-weight: 900;text-shadow: 1px 1px 2px #669999;">Hotel</h5>
			  <div class="card-body">
				<table class="table">
					<tr>
						<th>RoomType</th>
						<th>Description</th>
						<th>ImageURL</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tbody th:each="room:${detail.value}">
						<tr>
							<td th:text="${room.roomType}"></td>
							<td th:text="${room.description}"></td>
							<td th:text="${room.imageURL}"></td>
							<td><a href="hotel-form.html" th:href="@{/hotel/roomtypes/edit/}+${room.id}" >Edit</a></td>
							<td><a href="hotel-form.html" th:href="@{/hotel/roomtypes/delete/}+${room.id}" >Delete</a></td>
						</tr>
					</tbody>
				</table>
			 </div>
		  	</div>
		</div>
	</div>	

	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>