<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Hotel</title>
<style>
a {
	padding-left: 2px;
	padding-right: 2px;
}

li {
	padding-left: 2px;
	padding-right: 2px;
}

span {
	padding-left: 2px;
	padding-right: 2px;
}

nav {
	padding-left: 2px;
	padding-right: 2px;
}
</style>
</head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>

	<h3>Hotel List</h3>
	<table border="1" cellpadding="2" cellspacing="2">
		<tr>

			<th>ID</th>
			<th>Name</th>
			<th>lat</th>
			<th>longi</th>
			<th>rate</th>
			<th>numberofRestaurants</th>
			<th>country_City</th>
			<th>emenities</th>
			<th>Quantity</th>
			<th>Description</th>
			<th>location</th>

		</tr>
	
		<tr  th:each="hotel:${Hotels}" >
			<td th:text="${hotel.id}">ID</td>
			<td th:text="${hotel.name}">ID</td>	
			<td th:text="${hotel.lat}">ID</td>
			<td th:text="${hotel.longi}">ID</td>
			<td th:text="${hotel.rate}">ID</td>	
			<td th:text="${hotel.numberOfRestaurants}">ID</td>
			<td th:text="${hotel.country_City}">ID</td>
			<td th:text="${hotel.emenities}">ID</td>	
			<td th:text="${hotel.quality}">ID</td>
			<td th:text="${hotel.description}">ID</td>
			<td ><a href="Map.html" th:href="@{/hotel/Map/}+${hotel.id}" >location</a></td>
		</tr>
		

	</table>

	<script
		src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
		defer></script>
	<style type="text/css">
/* Set the size of the div element that contains the map */
#map {
	height: 400px;
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
}
</style>
	<script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: "${hotel.lat}", lng: "${hotel.longi}" };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>