
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Welcome</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<br/>
	<h3>Welcome</h3>
	<br/>
	<h3 th:unless="${session.user==null}" th:utext="'Hello '+ ${session.user.userName}">Hello</h3>
		<div align="center">
			<img alt="" th:src="@{/image/inventory_management_logo.png}" />
		</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>

