<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Login</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<br/>
<div class = "container">
<h3>Login to your account</h3>
<form class="login-form" action="" th:object="${user}" th:action="@{/user/authenticate}" method="post">
	<table class="table">
		<tr>
			<td>Name:</td>
			<td><input type="text" th:field="*{userName}"><td/>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" th:field="*{password}"><td/>
		</tr>
		<tr><td colspan="2"><button type="submit"  class="btn btn-primary">Log In</button></td></tr>
	</table>
	<div class="text-center">
          <a href="/user/signup">Sign up</a>
          <span class="p-2">|</span>
          <a href="/forgot-password">Forgot Password</a>
    </div>	
</form>
</div>
<div th:replace="layout/layout.html :: footer"></div>
<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>

