<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>Location</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
	<h3>My Google Maps Location for Hotel</h3>
	<!--The div element for the map -->
	<div id="map"></div>
	<table>

		<tr>
			<td th:text="${hotels.lat}">ID</td>
			<td th:text="${hotels.longi}">ID</td>

		</tr>
	</table>
	<input type="hidden" th:value="${hotels.lat}" name="lagid" />
	<input type="hidden" th:value="${hotels.longi}" name="longid" />
<div th:replace="layout/layout.html :: footer"></div>
<div th:replace="layout/layout.html :: javascript"></div>
</body>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpxdpcFNzbG8ax4DS3VS2dDs4oKZnTmXg&callback=initMap&libraries=&v=weekly"
	defer></script>
<style type="text/css">
/* Set the size of the div element that contains the map   */
#map {
	height: 400px;
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
}
</style>
<script>
    
    //console.log(latnum);
      // Initialize and add the map th="{ht:$hotels}"
      function initMap() {
        // The location of Uluru   
	   	var latnumb = document.getElementsByName("lagid")[0].value;
		var lngnumb = document.getElementsByName("longid")[0].value;
       
    	
    	alert(latnumb);
    	var latnum = parseFloat(latnumb);
    	var lngnum = parseFloat(lngnumb);
    	//var lngnum=parseFloat(lngnumb);
        const uluru = { lat: latnum, lng: lngnum};
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 20,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
<!--     //var latnumb = "${hotels.lat}";
       // var latn=toString(latnumb);
       // var latnb=parseFloat(latn);
       // var latnumb= document.getElementById("${htoels.lat}").value;
    	//var lngnumb = [[${longi}]];
    	//alert(latnumb);
    	//var latnum=parseFloat(latnumb); -->
</html>
