<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Travel Packages</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<div class = "container">
		<div class = "row">
			<h3>Update Discount Rate for Travel Packages</h3>
		</div>
		<form action="" th:object="${TPWrapper}" th:action="@{/package/update}" method="post" class="form-horizontal">
	      	<table class="table">
	      		<tr><th>Number of Nights</th><th></th><th>Number of Attractions</th><th></th><th>Discount Percentage (%)</th></tr>
	      		<tr th:each="package, stat : *{travelPackages}">
					<td th:text=${package.getId()}>Number</td>
					<td><input type="number" th:field="*{travelPackages[__${stat.index}__].numNights}" th:value = "${package.getNumNights()}"></td>
					<td><h3>+</h3></td>
					<td><input type="number" th:field="*{travelPackages[__${stat.index}__].numAttractions}" th:value = "${package.getNumAttractions()}"></td>
					<td><h3>=</h3></td>
					<td><input type="number" th:field="*{travelPackages[__${stat.index}__].discountPercent}" th:value = "${package.getDiscountPercent()}"></td>
					<td><input type="hidden" th:field="*{travelPackages[__${stat.index}__].id}" th:value="${package.getId()}"/></td>
				</tr>
				<tr>
					<td><input type="submit" th:value="Submit" /></td>
				</tr>
			</table>
		</form>
	</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
