<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head><title>Product List</title>
	<style type="text/css">
		td{
   			text-align:center;
   			vertical-align:middle;
   			height:50px;
		}
	</style>
</head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<h6>&nbsp;</h6>
	<h3 align="center">Product List</h3>
	<h6>&nbsp;</h6>
	
	<table align="center" cellpadding="3" cellspacing="5" style="width: 90%;margin:auto">
		<tr>
			<td><b>ID</b></td>
			<td><b>Type</b></td>
			<td><b>Detail Link</b></td>
      		<td><b>Add to cart</b></td>
		</tr>
		<tr th:each="product:${product}">
			<td th:text="${product.id}">ID</td>
			<td th:text="${product.type}">ID</td>
			<td><a href="hoteldetail.html" th:href="@{/product/detail/}+${product.id}">View Detail</a></td>
			<td><a href="roomType-availble-date.html" th:href="@{product/room-available-date/}+${product.id}">add to cart</a></td>
		</tr>
	</table>
	
	<br>
	<h4 align="center" class = "py-3">Hot Sellers</h4>
	<div class = "container">
		<div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
			<div th:each="product:${hotSellers}">
				<div th:if="${product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).HOTEL}">
					<div class = "cardSection">
				        <div class = "card text-center py-3 d-flex flex-column" style="width: 14rem; height: 14rem;">
				          <img height="128" th:src="${product.roomType.imageURL}" width="128"  class="card-img-top py-2 px-2 image-fluid"/>
				          <h6 th:text="${product.roomType.hotel.name} + ': ' + ${product.roomType.roomType} + ' Room'">Hotel Name</h6>
						  <a href="hoteldetail.html" th:href="@{/hotel/roomtypes/detail/}+${product.roomType.id}" class = "mt-auto">View Detail</a>
				        </div>
				 	</div>
			 	</div>		
				<div th:if="${product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).ATTRACTION}">
					<div class = "cardSection">
				        <div class = "card text-center py-3 d-flex flex-column" style="width: 14rem; height: 14rem;">
				          <img height="128" th:src="${product.attraction.imageURL}" width="128"  class="card-img-top py-2 px-2 image-fluid"/>
				          <h6 th:text="${product.attraction.name}">Attraction Name</h6>
						  <a href="hoteldetail.html" th:href="@{/product/detail/}+${product.id}" class = "mt-auto">View Detail</a>
				        </div>
				 	</div>
			 	</div>		 		
			</div>
		</div>
	</div>
	<br>
	<div th:if="${session.user!=null}">
		<h4 align="center" class = "py-3">Recently Booked Items</h4>
		<div class = "container">
			<div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
				<div th:each="product:${userRecommendation}">
					<div th:if="${product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).HOTEL}">
						<div class = "cardSection">
					        <div class = "card text-center py-3 d-flex flex-column" style="width: 14rem; height: 14rem;">
					          <img height="128" th:src="${product.roomType.imageURL}" width="128"  class="card-img-top py-2 px-2 image-fluid"/>
					          <h6 th:text="${product.roomType.hotel.name} + ': ' + ${product.roomType.roomType} + ' Room'">Hotel Name</h6>
							  <a href="hoteldetail.html" th:href="@{/hotel/roomtypes/detail/}+${product.roomType.id}" class = "mt-auto">View Detail</a>
					        </div>
					 	</div>
				 	</div>		
					<div th:if="${product.type == T(nus.edu.iss.adproject.nonEntityModel.ProductType).ATTRACTION}">
						<div class = "cardSection">
					        <div class = "card text-center py-3 d-flex flex-column" style="width: 14rem; height: 14rem;">
					          <img height="128" th:src="${product.attraction.imageURL}" width="128"  class="card-img-top py-2 px-2 image-fluid"/>
					          <h6 th:text="${product.attraction.name}">Attraction Name</h6>
							  <a href="hoteldetail.html" th:href="@{/product/detail/}+${product.id}" class = "mt-auto">View Detail</a>
					        </div>
					 	</div>
				 	</div>		 		
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>