<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Login</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<form action="" th:object="${hotel}" th:action="@{/product/saveHotel}"
		method="get">	
		<table class="table">	 
				
	 	<tr>
				<td>
					<input type="hidden" th:field="*{id}">
				</td>				
			</tr> 
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><input type="text" th:field="*{location}">
				<!-- <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></p></td> -->
			</tr>
			<tr>
				<td>Latitude:</td>
				<td><input type="text" th:field="*{lat}"></td>
			</tr>
			<tr>
				<td>Longitude:</td>
				<td><input type="text" th:field="*{longi}"></td>
			</tr>
			<tr>
				<td>Rating:</td>
				<td><input type="text" th:field="*{rate}"></td>
			</tr>
			<tr>
				<td>Number Of Restaurants:</td>
				<td><input type="text" th:field="*{numberOfRestaurants}"></td>
			</tr>
			<tr>
				<td>City:</td>
				<td><input type="text" th:field="*{country_City}"></td>
			</tr>
			<tr>
				<td>Emenities:</td>
				<td><input type="text" th:field="*{emenities}"></td>
			</tr>
			<tr>
				<td>Quality:</td>
				<td><input type="text" th:field="*{quality}"></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td><input type="text" th:field="*{description}"></td>
			</tr>
			<tr>
				<td>API_URL:</td>
				<td><input type="text" th:field="*{API_URL}"></td>
			</tr>
			
			<tr>
			<td>
			</td>
			
				<td  ><button type="submit" >Save</button></td>
			</tr>
			
		</table>

	</form>


<div th:replace="layout/layout.html :: footer"></div>
<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
<!-- <tr>
				<td>Hotel:</td>
				<td>
					<select name="id" id="id" th:field="*{Hotel}">
                    	<option th:each="hotel : ${Hotels}" th:value="${hotel.id}" th:text="${hotel.name}"></option>
                    </select>
				</td>
			</tr> -->