<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Creation</title>
</head>
<body>
<form action="" th:object="${product}" th:action="@{/product/save}"
		method="get">	
		<table class="table">
		 <tr>
				<td>Product Type: </td>
				<td>
					<select class="ProductType">
						<option value = "HOTEL">Hotel</option>
		                <option value = "ATTRACTION">Attraction</option>		                
			        </select>
			    </td>
			  </tr>
			<tr>
				<td>
					<input type="hidden" th:field="*{id}">
				</td>				
			</tr>
			<!-- private String roomType;
	private String description;
	private String imageURL; -->
			<tr>
				<td>Type</td>
				<td><input type="text" th:field="*{roomType}">
				<p th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}"></p></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td><input type="text" th:field="*{description}">
				<!-- <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p></td> -->
			</tr>
			<tr>
				<td>Hotel:</td>
				<td>
					<select name="id" id="id" th:field="*{Hotel}">
                    	<option th:each="hotel : ${Hotels}" th:value="${hotel.id}" th:text="${hotel.name}"></option>
                    </select>
				</td>
			</tr>
		
				<td>ImageURL:</td>
				<td><input type="text" th:field="*{imageURL}"></td>
			</tr>
			
			<tr>
			<td>
			</td>
			
				<td  ><button type="submit">Save</button></td>
			</tr>
			
		</table>

	</form>
</body>
</html>