<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head><title>Product List</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<h3>Product List</h3>
	
	<form th:action="@{/product/list}" class="search">
   		Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required /> &nbsp;
    		<input type="submit" value="Search" /> &nbsp; 
    		<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	
	
	<table>
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>Detail Link</th>
			<th>Add to cart</th>
			
		</tr>
		<tr th:each="product:${product}">
			<td th:text="${product.id}">ID</td>
			<td th:text="${product.type}">ID</td>
			<td><a href="hoteldetail.html" th:href="@{/product/detail/}+${product.id}">View Detail</a></td>
			<td><a th:href="@{/cart/add/}+${product.id}">add to cart</a></td>
		</tr>
	</table>
	
	
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/product/list}]]";
    }
</script>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>