<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset Password</title>
</head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu"></div>
	<br />
	<div class="container">

		<h3>Reset Your Password</h3>

		<form th:action="@{/reset_password}" method="post"
			class="form-horizontal">
			<input type="hidden" name="token" th:value="${token}"/>
			<table class="table">

				<tr>
					<td>
						<input type="password" name="password" id="password" placeholder="Enter your new password"
						required autofocus>
					</td>
				</tr>
				
				<tr>
					<td>
						<input type="password" name="confimrPassword" placeholder="Confirm your new password"
						required autofocus
						oninput="checkPasswordMatch(this);">
					</td>
				</tr>
				<tr>
					<td colspan="3"><input type="submit" value="Submit"
							class="btn btn-primary"></input>
				</tr>
			</table>
		</form>
	</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
	<script type="text/javascript">
		function checkPasswordMatch(fieldConfirmPassword){
			if(fieldConfirmPassword.value!=$("#password").val()){
				fieldConfirmPassword.setCustomValidity("Passwords do not match!");
			}else{
				fieldConfirmPassword.setCustomValidity("");
			}
		}
	</script>
</body>
</html>
