<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Review Listing</title>
	<style type="text/css">
		td{
   			text-align:center;
   			vertical-align:middle;
   			height:50px;
		}
	</style>
</head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu" ></div>
	<br/>
	<h3 align="center">Review List</h3>
	<br/>
	
	<table align="center" cellpadding="3" cellspacing="5" style="width: 90%;margin:auto"> 
		<tr>
			<td><b>ID</b></td>
			<td><b>Rating</b></td>
			<td><b>Content</b></td>
		</tr>
		<tr th:each="review:${review}">
			<td th:text="${review.id}">ID</td>
			<td th:text="${review.rating}">Rating</td>
			<td th:text="${review.message}">Content</td>
		</tr>
	</table>
	
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>