<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Room Type Form</title>
</head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
	<div th:replace="layout/layout.html :: menu"></div>
	<br />
	<h3>Update Room Type Details</h3>

	<form action="" th:action="@{/hotel/saveRoom}" th:object="${roomtype}"
		method="post" class="form-horizontal">
		<table>
			<tr>
				<td>Room Type</td>
				<td><input type="text" th:field="*{roomType}"></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input type="text" th:field="*{description}"></td>
			</tr>
			<tr>
				<td>Image URL</td>
				<td><input type="text" th:field="*{imageURL}"></td>
			</tr>

			<tr>
				<td><input type="hidden" th:field="*{id}" th:value="*{id}"></td>
				<td colspan="3"><button class="btn btn-primary" type="submit">Save</button></td>
			</tr>
		</table>
	</form>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>

