<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head><title>Room Types</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>

<body>
<div th:replace="layout/layout.html :: menu" ></div>
	<h3>RoomTypes List</h3>
		
	<table border="1" cellpadding="2" cellspacing="2">
		<tr>
			<th>ID</th>
			<th>Picture</th>
			<th>RoomType</th>
			<th>Price</th>
			<th>Detail Link</th>
		</tr>
		<tr  th:each="roomtype:${roomtype}" >
			<td th:text="${roomtype.id}">ID</td>
			<td><img src="${roomtype.imageURL}">Picture</td>
			<td th:text="${roomtype.roomType}">RoomType</td>
			<td th:text="${roomtype.price}">Price</td>
			<td><a href="roomdetail.html" th:href="@{/hotel/roomtypes/detail/}+${roomtype.id}">View Detail</a></td>
		</tr>
		
	</table>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>