<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>SignUp</title></head>
<head th:insert="layout/layout.html :: veryTop"></head>
<body>
<div th:replace="layout/layout.html :: menu" ></div>
<br/>
<div class = "container">
	<div>
		<h3>You have signed up successfully!</h3>
		<h4 style="text-align:center"><a href="@{/user/login}">Click here to login</a></h4>
	</div>
</div>
	<div th:replace="layout/layout.html :: footer"></div>
	<div th:replace="layout/layout.html :: javascript"></div>
</body>
</html>
